body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    color: #333;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.logo {
    text-align: center;
    margin-bottom: 20px;
}

.logo img {
    width: 150px;
    height: auto;
}

h1 {
    text-align: center;
    color: #555;
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #555;
}

input, button {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
}

input:focus {
    border-color: #6B1D49;
    outline: none;
}

button {
    background-color: #6B1D49 !important;
    color: #fff !important;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #C47D9F !important;
}

a {
    display: block;
    text-align: center;
    margin-top: 10px;
    color: #6B1D49;
    text-decoration: none;
}

a:hover {
    color: #C47D9F;
}

.invalid-feedback {
    color: #d9534f;
    font-size: 13px;
}