body {
    background-color: #f9f9f9;
    font-family: Arial, sans-serif;
}

.container {
    max-width: 500px;
    margin: 50px auto;
    background: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.logo {
    max-width: 150px;
    margin-bottom: 20px;
}

label {
    font-weight: bold;
    text-align: left;
    display: block;
    margin-top: 10px;
}

input, select, textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    box-sizing: border-box;
}

.select2-container {
    width: 100% !important;
}

.select2-selection {
    text-align: left; /* Alinea el texto a la izquierda */
}

.select2-selection__rendered {
    text-align: left; /* Asegura que el texto dentro del campo esté alineado a la izquierda */
    padding-left: 10px; /* Agrega un pequeño margen interno */
}

.btn-registrar {
    background-color: #6B1D49;
    color: white;
    font-size: 16px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    width: 100%;
    margin-top: 10px;
}

.btn-registrar:hover {
    background-color: #a87d54;
}

.back-link {
    display: block;
    text-align: center;
    margin-top: 10px;
    color: #a87d54;
    text-decoration: none;
}

.back-link:hover {
    text-decoration: underline;
}



body {
    background-color: #f9f9f9;
    font-family: Arial, sans-serif;
}

.container {
    max-width: 500px;
    margin: 50px auto;
    background: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.btn-registrar {
    background-color: #6B1D49;
    color: white;
    font-size: 16px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    width: 100%;
    margin-top: 10px;
}

.btn-registrar:hover {
    background-color: #C47D9F;
}